* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.cursor {
    margin-left: 2px;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    50% { opacity: 0; }
}

.hidden {
    display: none;
}