.projects-container {
    display: flex;
    justify-content: center;
}

.project-display {
    width: 100vh;
}

.project-card {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.proj-nav-btn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}

.proj-nav-btn:hover {
    transform: scale(1.1);
}

.project-status {
    display: inline-block;
    background-color: #ffcc00;
    color: #333;
    font-size: 0.9rem;
    border-radius: 6px;
    font-weight: bold;
    padding: 2px 3px;
}

.project-card h3 {
    margin: 0 0 10px 0;
}


.project-actions {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.project-langs {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.project-langs img {
    height: 24px;
}

.project-github-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    text-decoration: none;
    transition: 0.3s;
}

.project-github-btn svg {
    width: 20px;
    height: 20px;
    fill: #f2f2f2;
}

.project-github-btn:hover {
    background-color: #f2f2f2;
}

.project-github-btn:hover svg {
    fill: #333;
}